main{
	box-sizing: border-box;
	width:100%;

	section{
		min-height: 25em;
		display: inline-block;

		article{
			box-sizing: border-box;

			p{
				font-size: 1em;
				line-height: 1.5em;		
				margin:0;		
			}
		}
	}

	section.banner_bg{
		article{
			@include span(8 of 12);
			padding: 0 1em 0 7em;

		    @include susy-media($large) {
		    	padding: 0 1em 0 3em;
		    	width:90%;
		    }

			h3{
			    margin: 0;
			    padding: 2em 0 0 0;
			    font-size: 1.5em;				
			}

			p{
				padding:1em 0 0.5em;
			}
		}

		article.txt_banner{
			font-family: 'Roboto Condensed', sans-serif;
		    position: absolute;
		    bottom: 0;

		    @include susy-media($small) {
		   		top: 14em;
		    	left:0;
		    	right:0;
		    	margin:auto;
		    	padding: 0 1.5em
		    }

		    @include susy-media($smallest) {
		    	top: 11em;
		    }

			h1{
				font-size: 2em;
				text-transform: uppercase;
				font-weight: 400;



				@include susy-media($small) {
					font-size: 1.5em;
				}
			}

			h2{
				font-size: 4em;
				margin-top: 0.1em;
				font-weight: 400;

				@include susy-media($Xlarge) {
					font-size: 5em;
				}

				@include susy-media($small) {
					font-size: 2.5em;
				}
			}
		}		
	}

	section.intro{
		height: 30em;
		display:inline-block;

		@include susy-media($Xlarge) {
			height: 32em;
		}

		@include susy-media($large) {
			height: 36em;
		}

		@include susy-media($small) {
			height: 100%;
		}

		div.scroll_obj{
			background-color: white;
			position: absolute;
			margin:0 auto;
			top:-32px;
			left: 0;
			right:0;

			span{
				font-size: 1.5em;
			    position: absolute;
			    top: 3px;
			    bottom: 0;
			    left: 3px;
			    right: 0;
			    margin: auto;
			    text-align: center;
			    padding-top: 0.8em;
				-ms-transform: rotate(45deg);
				-webkit-transform: rotate(45deg);
				transform: rotate(45deg);

				&:hover{
					cursor:pointer;
				}					
			}
		}

		article{
			@include span(7 of 12);
			height:100%;

			@include susy-media($small) {
				width: 100%;
				padding: 0 2em;
				height: auto;
				margin-bottom: 3em;

				@include susy-media($small) {
					padding-bottom: 3em;
				}
			}

			h3{
			    margin: 0;
			    padding: 2em 0 0 0;
			    font-size: 1.5em;				
			}

			p{
				padding:1em 0 0.5em;

				@include susy-media($small) {
					padding: 1em 0 0;
				}
			}
		}

		aside{
			@include span(last 5 of 12);
		    padding: 0 7em 0 1.5em;
		    box-sizing: border-box;
		    height:100%;

			@include susy-media($large) {
				padding: 0 3em 0 1.5em;
			}

			@include susy-media($small) {
				width: 100%;
				padding: 0 2em;
				height: auto;
   	 			padding-bottom: 4em;				
			}

			h3{
				padding-top:2em;
			    margin: 0;
			    font-size: 1.5em;
			    padding-bottom:1em;			
			}		

			ul.links{
				font-family: 'Roboto Condensed', sans-serif;
				font-weight: 400;
				li{
					width: 100%;
					text-align:left;
					border-top:1px solid rgba(255,255,255,0.4);
					a{
						font-size: 1em;
					    padding: 1em 0;
					    color: white;
					    display: block;

					    &:hover{
					    	text-decoration: underline;
					    }
					}

					&:last-child{
						border-bottom:1px solid rgba(255,255,255,0.4);
					}
				}
			}	

			ul.employee{
				@include layout($map fluid no-gutters);
				display: inline-block;

				li{
					@include gallery(3 of 12);

					@include susy-media($large) {
						@include gallery(4 of 12);
					}

					@include susy-media($small) {
						@include gallery(3 of 12);
					}

					img{
						max-width: 100%;
					}
				}
			}
		}
	}

	section.info{
		article{
			width: 100%;

			h2{
				font-size: 2em;
				margin-top:0;

				@include susy-media($small) {
				    font-size: 1.8em;
				}
			}

			h4{
				margin-bottom: 0.3em;
				font-size: 1em;
			}

			ul{
				font-family: 'Roboto condensed';
				margin-bottom:1.5em;
				font-size: 1em;

				li{
					display: list-item;
					text-align: left;
					padding-left: 1.5em;
					line-height: 1.4em;
					background:url("../images/diamond.png") no-repeat left 6px;

					@include susy-media($small) {
						text-align: center;
						background-position-x: 0.6em;
					}
				}
			}

			div.btn_wrapper{
				height: 4em;
				display: block;
				margin:3em 0 0;
				position:relative;
				width: 100%;

				button{
					position:absolute;
					top:0;
					bottom:0;
					left:0;
					right:0;
					margin:auto;
					height:4em;
					width:14em;
					color:white;	

					span{
						display:inline-block;
						padding:0 1em;
					    width: 1em;
					    height: 1em;						
					}
				}
			}

			blockquote{
				display: none;
				position:relative;
				width: 100%;
				margin:2.5em 0 0;
				height:8em;

				@include susy-media($Xlarge) {
					height: 7em;
					width: 54em;
					margin: 2em auto 0;
				}

				@include susy-media($large) {
					height: 9em;
				}

				@include susy-media($small) {
					height:auto;
				}

				div{
					padding-top:0;
					padding-bottom:0;
					position:absolute;
					top:0;
					left:0;
					right:0;
					margin:auto;
					width: 100%;

					@include susy-media($Xlarge) {
						padding:0 2em;
					}

					@include susy-media($large) {
						padding:0;
					}
					@include susy-media($small) {
						position:relative;
						margin-bottom: 1em;
					}

					span{
						@include span(1 of 12);
						color:$iwink_red;
						font-size: 2.5em;

					    @include susy-media($small) {
					    	font-size: 1.8em;
					    }						
					}
					p{
						@include span(11 of 12);
						padding: 0 0.5em;
						box-sizing: border-box;						
					    font-size: 1.2em;
					    font-style: italic;
					    color: rgba(0,0,0,0.3);
					    font-weight: bold;
					    line-height: 1.9em;		
					    vertical-align: top;	

					    @include susy-media($Xlarge) {
					    	padding: 0 2em 0 0;
					    }

					    @include susy-media($small) {
					    	font-size: 1em;
					    }		
					}
				}
			}
		}
	}

	section.articles{
		width:100%;
		text-align: center;

		article{
			@include span(4 of 12);
			padding:0 1em;
			box-sizing:border-box;
			font-size: 1em;

			@include susy-media($large) {
				@include span(6 of 12);
				height: 25em;
				margin-bottom: 3em;
			}

			@include susy-media($small) {
				width: 100%;
				height: auto;
				margin-bottom: 1em;
			}

			figure{
				position:relative;
				overflow: hidden;
				border-radius:50%;
			    width: 10em;
			    height: 10em;
			    margin: 0 auto;

			    @include susy-media($large) {
			    	margin-top: 2em;
			    }

				img{
					position:absolute;
					margin:auto;
					left:-1em;
					right:0;
					top:0;
					bottom:0;
				}
			}

			h4{
				font-size: 1.2em;
				color:$iwink_red;
				margin: 1em 0 0;
			}

			section{
				display: inline-block;
				width: 100%;
				min-height:0;
				font-size: 0.9em;
				color:rgba(0,0,0,0.4);
				font-weight: 600;

				span{
					@include span(6 of 12);
					margin:0.5em 0 2em;
					padding: 0 0.6em;
					box-sizing:border-box;
					text-align: right;

					@include susy-media($small) {
						font-size: 0.9em;
					}

					&:last-child{
						text-align: left;
					}
				}
			}

			p{
				margin-bottom: 0.1em;
			}

			a{
				color:$iwink_red;
				font-size: 0.9em;
			    width: auto;
			    display: inline-block;
				margin: 0 auto;
				text-decoration: none;

				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}